/* body {
    --main-color: #AC1E23;
    --alt-color: #e4e2df;
    font-family: "Roboto", sans-serif;;
} */

/* Main Header  */
/* .hero-sec-main .header-two{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important;
}

.header .navbar-header .navbar-brand{
    width: 90px !important;
    margin: auto;
} */